@nav-spacing: 25px;
@content-width: 768px;

body {
  margin: 0;
}

.homeLink {
  text-decoration: none;
}

.homeText {
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

nav > a {
  text-decoration: none;
  letter-spacing: 0.04em;
  font-size: 18px;

  &:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  }

  &:not(:first-child) {
    margin-left: @nav-spacing;
  }
}

.mainNav {
  padding: 15px 0;
  background-color: #e3fce4;
}

.navInner {
  width: @content-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.detail {
  position: relative;
  width: @content-width;
  margin: 0 auto;
  padding: 16px 0;
}

.screenshot {
  display: block;
  width: 100%;
  height: auto;
  padding: 16px;
  border: 1px inset rgba(0,0,0,0.1);
  transition: transform ease-in-out 0.3s;

  &:hover {
    cursor: zoom-in;
  }
}

.zoomed {
  width: 140%;
  position: absolute;
  &:hover {
    cursor: zoom-out;
  }
}

figcaption {
  margin-top: 8px;
  font-style: italic;
}
